body{
    background-color: beige;
}
h1{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
figure {
    float: left; 
    margin: 50px;
    margin-right: 110px;
  }
  
  section {
    width: 91%;
  
    margin: 15px auto;
  }
  
  figure img {
    padding: 4px;
    
    border-radius: 20px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s; 
  }
  figure img:hover {
    -webkit-transform: scale(1.2);
  }
  
  footer {
    clear: both;
    margin-right: 10px;
  }
  
  .header-title {
    margin-left: 50px;
    color: #666;
  }
  .contact{
      text-align: left;
  }
.Send {
    
        font-family: 'Helvetica', 'Arial', sans-serif;
        display: inline-block;
        font-size: 1em;
        padding: 1em 2em;
        margin-top: 100px;
        margin-bottom: 60px;
        -webkit-appearance: none;
        appearance: none;
        
}
