body{
    background-color: beige;
    
    
}
h1{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
.header-title{
    background-color: floralwhite;
    margin-right: 100px;
    margin-left: 150px;
}
figure {
    float: left; 
    margin: 50px;
    margin-left: 200px;
 
  }
  
  section {
    width: 89%;
    margin: 25px;
  }
  
  figure img {
    padding: 11px;
    border-radius: 15px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s; 
    text-align: center;
  }
  figure img:hover {
    -webkit-transform: scale(1.2);
  }
  
  footer {
    clear: both;
    margin-right: 10px;
    background: floralwhite;
  }
  
  .contact{
      text-align: left;
      font-family: Arial, Helvetica, sans-serif;
      bottom: 10px;
  }
.Send {
    
        font-family: 'Helvetica', 'Arial', sans-serif;
        display: inline-block;
        font-size: 10px;
        padding: 1em 2em;
        margin-top: 100px;
        margin-bottom: 60px;
        -webkit-appearance: none;
        background: floralwhite;
        
}
h4{
    text-align: center;
}
.caja { 
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #dbafaf; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid white;}